[2015-10-20 07:21] systopia opened #1 "Sequential numbers"
The system should be able to create sequential IDs like  "01/2015", "02/2015", ... "01/2016"

Implementation proposal:
Users can choose an ID format, that consists of free text and the following tokens (could be extended):
  * ``{seq:n:x}`` sequential number, unique wrt the whole string. If you change the string, the numbering will start over. There are two paramters for that string: ``n`` is the

[2015-10-20 07:29] systopia opened #2 "Output format: receipts grouped by page count"
In some scenarios it might be helpful, to produce the following output format:
 * one PDF per page count
 * that PDF would have all receipts with the same page count.

[2015-10-20 07:31] systopia opened #3 "Output format: grouped CSV"
The extension can already produce PDFs grouped by page count. However, it would be helpful to also create CSVs grouped by page count, to facilitate the cooperation with letter shops.

[2015-10-20 07:33] systopia opened #4 "Select multiple output formats"
Currently you can only select only one output format. You can do a workaround and e.g. generate a CSV file in a test run, and then PDFs in the "real" run, but ideally you should be able to simply select multiple output formats per run.

[2015-10-20 07:38] systopia opened #5 "Expose donation receipt creator"
The donation receipt data structure stores which user created/issued the donation receipt. However, it is not yet exposed in the UI.

[2015-10-20 07:39] systopia opened #6 "Output CSV: quote numbers"
Some fields go into the CSV output file unquoted, which can cause problems, e.g. with numeric postal codes.

[2015-10-20 07:46] systopia opened #7 "Config option: omit cent amounts"
In the "amount in words" the default representation is e.g. (German)
``
dreiundfünfzig Euro einundzwanzig
``
There should be a switch to suppress the cents, i.e.:
``
dreiundfünfzig Euro
``

[2015-10-20 07:49] systopia opened #8 "Receipt creation runner improvements"
1. A "cancel" button (test run only)
2. Display errors (shouldn't happen, but e.g. network problems are not correctly communicated to the user)
3. A "continue" button, e.g. after network problems.

[2015-10-20 07:51] systopia opened #9 "Robust sql escape"
The system uses ``mysql_real_escape_string`` to prepare strings for insertion into SQL instructions. This may lead to problems on some systems, so it should be replaced by a more robust solution.

[2015-10-20 07:52] systopia commented on #9
There is a draft for a fix in https://github.com/systopia/de.systopia.donrec/tree/dev_9, waiting for feedback

[2015-10-20 07:54] systopia opened #10 "New tokens"
Add the following tokens to generator:
 * ``{$contributor.first_name}``
 * ``{$contributor.last_name}``

[2015-10-20 07:59] systopia opened #11 "Create receipts based on contribution search"
Currently, you can only create receipts for individual contacts and based on a contact search result. It would be very handy (and should be easy to implement) to extend that to a contribution search result.

[2015-10-20 08:02] systopia opened #12 "Select currency"
Currently, the currency is hard-coded to EUR, but there should be dropdown at the beginning (next to the date selector) that lets you pick the currency to be used.

[2015-10-20 08:07] systopia opened #13 "Rebook to same contact"
The ``rebook`` feature is supposed to traceably book contributions to other contacts. However, it would also do it if the source and target contact are identical - this should be suppressed.

[2015-10-20 08:13] systopia opened #14 "Update tab counter"
If you delete a donation receipt in the contact summary tab, only the content of the tab is reloaded to display the remaining receipts, but the counter in the tab header is not updated.

[2015-10-20 08:16] bjendres opened #15 "Remove uncessary JS code"
There are remainders of old JS code from an previous bug fix.

[2015-10-20 08:17] systopia commented on #15
See https://github.com/systopia/de.systopia.donrec/tree/dev_15

[2015-10-20 08:24] systopia opened #16 "Highlight / scroll to selected receipt"
In contribution lists the column "receipted" shows if the contribution has been receipted. It has a deep link to the receipt, but the code to highlight this receipt and scroll into the visible area is not working properly.

[2015-10-20 08:26] systopia opened #17 "Create receipt workflow issues"
There are some minor flaws in the current workflow, when creating donation receipts:
 1. Create donation receipts from a search, if you hit "cancel" it would get you back to the search form, NOT the original search.

[2015-10-20 08:30] systopia opened #18 "Add more stats"
When about to create a donation receipt, there is a panel with some stats. There should be an equivalent panel *after* the run, showing:
 1. number of contacts for which donation receipts have been created
 2. number of files (lines in CSV files) that have been created
 3. runtime
This would facilitate double-checking the resulting files.

[2015-10-20 08:34] bjendres opened #19 "Do not ZIP single receipt files (was: Unpack zipped PDF)"
If a batch run only produces exactly one PDF, the download button should yield the PDF file directly instead of the ZIP file.

[2015-10-20 08:36] systopia opened #20 "Unit Tests"
In order to improve reliability and robustness over changes, there should be unit tests for the core functions of the extension.

[2015-10-20 13:50] systopia opened #21 ""Back" button in rebook task"
The "back" button in the "rebook" task doesn't work properly - it complains about a missing ID instead of returning to the search result.

[2015-10-23 13:42] bjendres opened #22 "Problems with Epiphany browser"
A user reports that his Epiphany browser (version 3.4.1) has trouble with some of the JS elements. We recommend using Firefox, but we will fix this if there is a need for this.

[2015-10-23 14:17] systopia opened #23 "Bug with partially deductible contributions"
If you have contributions that are partially deductible,  i.e. the ``non_deductible_amount`` is not the whole ``total_amount``, the donation receipts are incorrect. Effectively the whole amount is receipted in this case!

If you want to know whether you are affected, you can use this query to see how many partially deductible contributions you have:
``
SELECT COUNT(id) AS number_of_partial_donatio

[2015-10-29 13:31] systopia commented on #23
Partially deductible contributions will be ignored beginning with version 1.2rc3. I will this downgrade this ticket from bug to feature.

[2015-10-29 13:34] systopia opened #24 "Use domain for l10n"
We should be using the ``domain`` tagging for localisation, so we can have our own "drop-in" mo-file.

[2015-11-30 12:30] systopia commented on #9
Feedback positive, merged into master, due to be released with 1.3

[2015-11-30 12:30] #9 closed

[2015-12-01 16:14] Detsieber opened #25 "Edit contribution - change amount doesn't work properly"
When I try to change an amount for an existing contribution, CiviCRM won't save and gives the error message:
"The sum of fee amount and net amount must be equal to total amount"
In fact, when adjusting the net amount to the new total, the contribution can be saved again.
(I could imagine, this is a regression from the latest change - at least I did not see that before).

[2015-12-01 16:16] Detsieber opened #26 "Feature request: Search for contributions with / without donation receipts"
It should be possible to search for contributions, for which already a donation receipt is issued (or: not issued), via the UI.

[2015-12-02 07:50] systopia commented on #26
It is. There is an accordion wrapper in the contribution search form. On my system it's right underneath the 'Recurring Contributions' one.

@Detsieber: Could you confirm this?

[2015-12-02 07:52] systopia commented on #25
I have observed this issue before, and as far as I know it's rather a problem with the later 4.4.x versions of CiviCRM.

@Detsieber :Which version are you using?

[2015-12-02 07:55] Detsieber commented on #25
This happens with 4.6.9

Am 02.12.2015 um 08:52 schrieb SYSTOPIA:

[2015-12-02 07:58] systopia commented on #25
Could you make sure, that the same thing doesn't happen with the donation receipts extension disabled?

[2015-12-02 08:08] Detsieber commented on #26
I can confirm this!
However, there lacks a functionality to search for contributions _without_ a donation receipt.

As a workaround, one could search for contacts with donation receipts, and exclude this group from another group consisting of all contacts with a contribution. But that's pretty complicated and still doesn't help for the case, when somebody received some but not all donation receipt

[2015-12-02 08:08] #26 closed

[2015-12-02 08:32] systopia commented on #26
Great.

[2015-12-02 16:55] Detsieber commented on #25
I am sorry for having created some trouble: After deactivating the
donrec extensions, the error still persists.
The error also persists on another civicrm install, where the donrec
extension never had been installed.

However, another civicrm running on 4.6.10, doesn't behave this way. And
I had never seen that before...

[2015-12-03 08:25] systopia commented on #25
No problem.

[2015-12-03 08:25] #25 closed

[2016-01-21 14:17] ghost opened #27 "Settings Page: location type translation quirks"
The file [CRM/Admin/Form/Setting/DonrecSettings.php](https://github.com/systopia/de.systopia.donrec/blob/master/CRM/Admin/Form/Setting/DonrecSettings.php#L29-L33) contains a code snippet that pulls all available location types and displays their translated _names_ in a select box. This solution is quite prone to errors, as we have recently discovered.

In this case the string "home" got translated

[2016-02-05 07:07] systopia commented on #24
Implemented, will be released in 1.2.1

[2016-02-05 07:07] #24 closed

[2016-02-05 07:08] systopia commented on #9
Will be released in 1.2.1, not 1.3

[2016-02-11 16:26] systopia opened #28 "Bulk receipts generation might freeze"
It seems that the bulk receipt ("Sammelbescheinigung") generation can, under rare conditions run into a timeout, subsequently freezing the generation runner.

[2016-03-07 16:05] systopia opened #29 "Create receipts from contribution search"
Currently, you can only create contribution receipts based on the contact search (or the currently active contact). However, it would be very handy to have a create task based on the contribution search as well.

[2016-03-07 16:13] systopia opened #30 "Receipt generation profiles"
The settings should be extended in a way that the following settings should be attached to "profiles":
 * financial types
 * copy/draft texts
 * address types
 * template to be used

Those profiles should then be selectable when creating new receipts.

[2016-03-30 13:16] systopia opened #31 "Delete receipted contributions"
Deleting receipted contributions is illegal and will be prevented. If you open a URL to delete the contribution you will be shown an error message.

However, if the URL is called from an AJAX JS element (e.g. a popup), the error message is not properly processed and the dialogue on the browser will freeze.

Maybe using exceptions instead of ``exit()`` will already to the trick.

[2016-04-06 15:05] systopia commented on #1
implementation merged to ``master`` and will now be tested

[2016-04-06 15:05] #1 closed

[2016-04-06 15:05] systopia commented on #29
implementation merged to ``master`` and will now be tested

[2016-04-06 15:05] #29 closed

[2016-04-06 15:05] systopia commented on #30
implementation merged to ``master`` and will now be tested

[2016-04-06 15:05] #30 closed

[2016-04-06 15:14] systopia opened #32 "Rename snapshot table"
The SQL table used for snapshot data is ``civicrm_donrec_snapshot``, which means it will be added to the logging mechanism when activated. Since the table only contains volatile data (snapshots), this doesn't make sense.

[2016-04-06 15:14] systopia commented on #32
renamed to ``donrec_snapshot``

[2016-04-06 15:14] #32 closed

[2016-06-16 09:38] systopia commented on #28
That seems to have fixed it.

[2016-06-16 09:38] #28 closed

[2016-06-21 09:26] mielert opened #33 "Changes in civicrm_setting? => no field "group_name""
I've deinstalled 1.2.1 and installed 1.3 beta on 4.7.8.
I can't access the settings probably because of changes in civicrm_settings.

DB Error: no such field", -19, 16, (Array:2), "SELECT name FROM civicrm_setting WHERE group_name = 'Donation Receipt Profile...")

[2016-06-21 10:22] systopia opened #34 "CiviCRM 4.7 Compatibility"
Make the extension compatible with CiviCRM 4.7.

[2016-06-21 10:25] systopia commented on #33
I'm strongly suspect that you tried that with CiviCRM 4.7, which the extension is not compatible with atm (see https://github.com/systopia/de.systopia.donrec/issues/34).

@mielert: Could you confirm that?

The culprit most likely is this line https://github.com/systopia/de.systopia.donrec/blob/1.3.beta1/CRM/Donrec/Logic/Profile.php#L126, which has already been flagged.

[2016-06-21 14:18] mielert commented on #33
@systopia Yes, I tried it with 4.7.8 as I wrote. Just to give you feedback.
Probably "Civi::settings()->get('max_attachments');" (https://wiki.civicrm.org/confluence/display/CRMDOC/Settings+Reference#SettingsReference-SettingsRetrieval) will do the job.

[2016-06-21 15:22] systopia commented on #33
I'm not sure how ``Civi::settings()->get('max_attachments');`` would fix the problem here. If you could create a pull request, we'll have a look.

[2016-06-22 07:29] mielert commented on #33
I've never worked with pull requests by now and don't have time to learn it.

This function seems to work:

  /**
   * return all existing profiles
   *
   * @return array(name => name)
   */
  public static function getAllNames() {
    $allProfiles = Civi::settings()->get(self::$SETTINGS_PROFILE_GROUP); // FritzMielert
    if (empty($allProfiles)) {
      $allProfiles['Default'] = 'Default';

[2016-06-27 10:12] systopia commented on #33
Thanks, I included this into ``dev_33`` (https://github.com/systopia/de.systopia.donrec/tree/dev_33).

@mielert: Could you verify that this works - of course also when you're using profiles?

[2016-07-01 07:54] mielert opened #35 "Mandate token breaks scheduled mailing (1.2.3.beta1)"
When sending a newsletter the cron job throws an error.
The invalid query is probably part of the new implemented token.

[code]

File: sepa.php, row 590
Probably we could implement a condition like this one:
[code]

[2016-07-01 08:10] systopia commented on #35
Thanks for reporting this @mielert, I moved the ticket to https://github.com/Project60/org.project60.sepa/issues/399 :)

[2016-07-01 08:10] #35 closed

[2016-07-06 12:13] mielert opened #36 "Profile copying broken"
After clicking the save button in "civicrm/admin/setting/donrec" the copied profile disappears.

CiviCRM 4.7.8
Part of #34

[2016-07-06 12:25] mielert opened #37 "Staging.php: Missing information about clicked buttons"
The send buttons that have been clicked are not transferred via post form.
This error does only show up in Safari.

Dump of $_REQUEST

[code]

CiviCRM 4.7.8
Part of #34 ?

[2016-07-06 13:34] mielert commented on #33
@systopia something is still broken, sorry.
When just using the profile Default it works but

When replacing the function above with the following lines I can generate donation receipts in 4.7 for the first time:
[code]

[2016-07-07 09:51] elcapo commented on #12
Hello Björn, long time no see! I'm back working for CiviCRM, now with Ixiam. Alejandro asked me to take a look at the receipts extension because we are talking with a few people whom probably will use it.

I still haven't tested it enough to make a PR but, as you can see in the related commits above, I've been working on the extension to make it work for other currencies. What these commits are do

[2016-08-01 09:27] systopia commented on #36
I couldn't reproduce this on CiviCRM 4.6, but I could on 4.7. Therefore this is a compatibility problem, see #34.

[2016-08-01 09:31] systopia commented on #37
@mielert  I'm not sure which buttons you're talking about, could you add a screenshot?

(sorry for the late response, I was on holiday)

[2016-08-01 09:33] systopia commented on #33
Thanks, we'll address and test this when doing the 4.7 compatibility. Most likely this is going to be version 1.4

[2016-08-01 09:35] systopia commented on #12
Hi @elcapo! Good to hear from you. Sorry for the late response, I was on holiday.

That initiative sounds great, let me know when you have any questions.

[2016-08-04 15:01] systopia commented on #11
duplicate of #29, released in 1.3

[2016-08-04 15:01] #11 closed

[2016-08-16 09:51] Detsieber commented on #6
Shouldn't this be (also) fixed in core? I have wasted dozens of hours over the years, correcting postal codes starting with "0", that were wrongly exported from CiviCRM...

[2016-08-16 13:01] systopia commented on #6
I just observed the problem, and I thought it was a bug in the exporter - but you might be right and the problem is in the core...

[2016-09-06 11:20] mielert commented on #33
btw: Applying both changes in 1.3 I'm still able to generate receipts in Firefox.

[2016-09-06 12:06] mielert commented on #37
In Safari nothing happens, no matter which of the following three buttons I click. The page is just reloaded. <img width="794" alt="bildschirmfoto 2016-09-06 um 13 22 40" src="https://cloud.githubusercontent.com/assets/937362/18271910/1317f3d2-7435-11e6-8063-b29345fe2824.png">
But these buttons are essential to generate the files.

Clicking test run in Safari
[code]
Clicking test run in Firefox
[c

[2016-09-09 07:16] mielert commented on #37
Here's some kind of a bugfix for Staging.tpl:

Modified onClick
[code]

Modified submit_form
[code]

I don't get it why it's enough just to call the attribute "name" to transfer it. But by no that works. Any ideas?

[2016-10-28 07:22] systopia commented on #37
Hi @mielert, thanks for your input. I have to tell you that your fix didn't work - it actually caused a JS error that would then abort the custom submission process. And the fallback default submission process then worked for you :)

However, thanks a lot for pointing me in the right direction; I think I fixed it with https://github.com/systopia/de.systopia.donrec/commit/fe56c90a4f181c2061e453150d

[2016-10-28 07:25] systopia commented on #36
So it turns out that CiviCRM 4.7 has dropped the {{group_name}} from the settings altogether, and the profile system was heavily relying on that. So the whole profile system had to be refactored, see https://github.com/systopia/de.systopia.donrec/tree/dev_34

We'll put some more things in 1.4 and then ask for help with testing :)

[2016-10-28 09:25] mielert commented on #37
Thanks a lot!
Your fix works in Safari 10.

[2016-11-03 17:57] systopia commented on #37
Great, thanks for testing!

[2016-11-29 12:42] #37 closed

[2016-11-29 12:53] #33 closed

[2016-11-29 12:53] #36 closed

[2016-11-29 12:54] #34 closed

[2016-11-29 12:57] systopia commented on #22
This might be related to (and fixed with) #37.

Could anyone test this with 1.4.beta1?

[2016-11-29 13:00] systopia opened #40 "Create "Send PDF by Email" exporter"
Should send the generated PDF the primary email address of each contact. The email body will be generated based on a template in the CiviCRM template system.

[2016-12-05 13:28] Rolf-ROBIN-WOOD commented on #13
We need sometimes this possibillity, if a contribution is NOT assigned to the right membership of a contact with more than 1 membership! (->Membership in Germany! ROBIN WOOD e. V.)

[2016-12-05 14:41] systopia commented on #13
@Rolf-ROBIN-WOOD: Wouldn't it be better to have an option to detach a contribution from a membership?

[2016-12-05 15:45] Rolf-ROBIN-WOOD commented on #13
Yes, it would! :-)

[2017-02-15 13:56] systopia commented on #40
seems to be working fine.

[2017-02-15 13:56] #40 closed

[2017-02-15 13:57] systopia commented on #5
released in 1.5

[2017-02-15 13:57] #5 closed

[2017-05-18 09:12] thomst opened #44 "Missing tokens for addressee and greeting fields"
There are tokens which are saved to the receipt-table, but not loaded when creating receipts:
* contributor.postal_greeting_display
* contributor.email_greeting_display
* maybe others

[2017-06-26 09:45] thomst opened #45 "Profiles disappear when updating from 1.3 to 1.4"
I had two customized profiles. The default profile were deleted.
After updating the extension from 1.3 to 1.4 the customized profiles were gone. Instead the default-profile was found.

This happend on a 4.6.24 and a 4.7.20 CiviCRM-Installation

[2017-06-29 14:46] systopia commented on #45
That's true. In order to make it compatible with 4.7 we had to completely rework the profiles. There is some code that should transform them but it doesn't seem to be reliable.

[2017-07-03 12:46] scardinius opened #46 "Support Polish language in converting number to words"
Hi @systopia

Thank you for donrec!

I'd like to add supporting Polish in `totaltext` variable. My assumptions:

* converting based on repo https://bitbucket.org/stopsopa/kwotaslownie
* language is determined by locale of civicrm `$_SESSION['CiviCRM']['lcMessages']`. This is Default Language from "Localization > Languages, Currency, Locations"
* German is default language

What do you think about

[2017-07-05 09:57] systopia commented on #46
Hi @scardinius! Looks good, I'll include that into the next release. But Shouldn't we include ``packages/kwotaslownie``, though?

[2017-09-22 08:16] kenleegit commented on #44
In my case only {$contributor.display_name} gets displayed. All other tokens address lines, city, country etc are all missing.

[2017-09-25 09:37] kenleegit opened #47 "Settings should be in in pull-down menu (was: Address lines are not shown)"
On 1.4 and 1.5 beta, Drupal 7.56, PHP 5.6.31, CiviCRM 4.7.20 and 4.7.24.

Receipt shows only contributor's display name. All other information, such as address are not shown.
The respective columns at receipt table have only NULL values.

I tried to troubleshoot myself (sorry for being a beginner), but cannot find which code went wrong.
Thank you.

[2017-09-26 08:04] kenleegit commented on #47
I kinda found out the solution.
At CRM/Donrec/Logic/Profile.php, function defaultProfileData()
287,290c287,290
<       'legal_address'           => 0,  // '0' is the primary address
<       'postal_address'          => 0,
<       'legal_address_fallback'  => 0,
<       'postal_address_fallback' => 0,
---

On the other hand, I do not see "Donation Receipts Settings" in the administration console in

[2017-10-02 16:21] systopia commented on #47
Hi @kenleegit. This is done on purpose, we didn't want to overload the pull-down menu. However, if we get a couple of ``+1``s here, I'll be happy to change that.

[2017-10-02 16:31] systopia commented on #44
@kenleegit: Are the fields ``NULL`` in the database (``civicrm_value_donation_receipt_x`` table) or only as a Smarty tokens?

[2017-11-06 03:30] kenleegit opened #48 "Print price sets on receipts"
Dear systopia,
Would you consider printing price sets on receipts?
We use price sets to contribution to mark the type of expenses the contribution covers.
If I do my own coding, would you give me some hints where I should start?

Thank you.

[2017-11-08 12:59] systopia opened #49 "First time 'send by email' causes "Mandatory key(s) missing" error"
The reason for this is that a new activity type is created, but then not properly returned.

[2017-11-08 13:00] #49 closed

[2018-02-07 09:14] bjendres opened #50 "International number_to_words function"
There should be a plug-in like system to add other languages.

@sluc23 I understand you create something like this in IXIAM, could you create a PR or point me to the right code?

[2018-02-07 09:18] bjendres opened #51 "Select year relevant for ID generator"
If you generate receipts for the last year, the current year is used for the ID generation. This might be intended in some scenarios, but unexpected in others.

We want to have a new ID generator token ``contribution_year`` that is the (maximum) year of the contribution(s).

[2018-02-07 09:19] systopia opened #52 "Tokenise file name"
The file name currently based on the contact ID, but in some scenarios it would be quite helpful, to have arbitrary (i.e. tokenised) information in the file name, e.g. postal codes or last name

[2018-02-07 09:20] systopia commented on #46
see #50

[2018-02-07 09:21] sluc23 commented on #50
@systopia

1. https://github.com/ixiam/de.systopia.donrec/blob/master/CRM/Donrec/Logic/ReceiptTokens.php#L171
2. https://github.com/ixiam/de.systopia.donrec/blob/master/CRM/Utils/DonrecHelper.php#L23
3. https://github.com/ixiam/de.systopia.donrec/blob/master/CRM/Utils/DonrecLang.php#L19
4. https://github.com/ixiam/de.systopia.donrec/tree/master/CRM/Utils/Lang

[2018-02-07 09:26] sluc23 commented on #51
@systopia

1. https://github.com/ixiam/de.systopia.donrec/commit/d5e944de04eb92d0a5723e3d591a920c021716fe
2. https://github.com/ixiam/de.systopia.donrec/commit/af1e3bafc3f405bf89e702f944117a9dbc4a44e6

[2018-02-14 07:23] Fabian-SYSTOPIA opened #53 "Contribution receipts lost when merging contacts"
Tested under CiviCRM 4.7.30 and 4.7.29, DonationReceipt 1.4 and 1.5beta2

Reproduction: Merge two contacts with one or more receipts each using CiviCRM's merge function via the UI or API.

Receipts previously attached to contact A are lost even though the boxes to merge them were checked.

[2018-02-19 15:31] systopia commented on #53
This is not an issue with the donation receipts extension, the reason is [CRM-21773](https://issues.civicrm.org/jira/browse/CRM-21773). I have already created a patch that is currently being tested. Hopefully it will be merged into core soon.

[2018-02-19 15:31] #53 closed

[2018-03-20 12:55] jensschuppe opened #54 "Provide "From e-mail" setting in profile"
The "From" e-mail address should be configurable per profile, providing a select field for available From e-mail address options in civicrm/admin/options/from_email_address with fallback to the default (current behavior).

[2018-04-05 13:48] jensschuppe opened #56 ""Back" button in Create form does not work"
When creating a receipt, the "Back" button does not work on neither the date range and profile selection, nor on the summary page.

It should be enough to set the "back" type of the default "back" button to `"cancel"` instead of leaving it `"back"` by default.

[2018-04-11 12:26] jensschuppe opened #57 ""Receipted" search column has no weight"
`donrec_civicrm_searchColumns()` adds a column to contribution searches (used e.g. in the "Contributions" tab on contacts), but does not give it a weight, resulting in incorrect table header order.

[2018-04-16 12:05] jensschuppe commented on #57
Merged into master.

[2018-04-16 12:05] #57 closed

[2018-04-16 12:05] jensschuppe commented on #56
Merged into master.

[2018-04-16 12:05] #56 closed

[2018-04-16 12:05] jensschuppe commented on #54
Merged into master.

[2018-04-16 12:05] #54 closed

[2018-06-05 14:13] jensschuppe opened #58 "DB Error: no such table"
Instead of doing things like `SELECT [...] FROM civicrm_value_donation_receipt_item_%d` and `$table = "civicrm_value_donation_receipt_item_$group_id";`, retrieve the table name for the custom group via an API call, as the table name may be truncated (assuming multi language being a candidate scenario) resulting in CiviCRM fataling with "DB Error: no such table".

[2018-06-14 08:12] sluc23 opened #59 "Transfer Contribution doesn't check if already has a Note"
Transfer Contribution feature, changes the contact_id of the contribution and add a Note to the contribution
(https://github.com/systopia/de.systopia.donrec/blob/b063b92b07fc5de9ee961c58ed1fda16fd78b00a/CRM/Donrec/Form/Task/Rebook.php#L202)

The issue is if the Contribution has already a note, this will add a second one in the table using API, which is not possible through UI (different like Conta

[2018-06-15 07:59] pf030 opened #60 "WP: URL-scheme falling back to Drupal URL-scheme while generating receipts and breaks link for zip-file download"
Under Wordpress with CiviCRM 4.7x and higher we have encountered the following problem:

In step 2 of the assistant (for generating the donations receipts) **the URL-scheme of Wordpress-installations breaks** (visible also in missing styles and CiviCRM menu) **and falls back to the Drupal URL-scheme**.

**The assistant completes, but** this behaviour results in a broken link for downloading the ZI

[2018-06-15 08:12] pf030 opened #61 "WP: Extensions call to PDF generator causes errors when inserting images to the donation receipt-templates"
Under Wordpress with CiviCRM 4.7x and higher we have encountered the following problem:

**Despite we use dom-PDF or wkhtmltopdf: the generation of donation receipts fails (hieroglyphic output) as soon as we have inserted images to the donation receipt-templates.**

**We have verified that both above mentioned PDF-generators do not cause errors when using images in other templates, e.g. for the Pr

[2018-06-15 08:17] pf030 opened #62 "WP: namespace for tokens used in donation receipts-templates not available"
Under Wordpress with CiviCRM 4.7x and higher we have encountered the following problem:

**The Smarty variables from the namespace of the extension ($contributor.xxx) are not available/filled when generating donation receipt PDFs. This makes the extension unusable under the mentioned environement.**

**We suspect it's a bug.**

Can anyone confirm?

Could the developers have a look on it please?

[2018-06-15 09:15] systopia commented on #59
thanks @sluc23. PRs welcome :)

[2018-06-15 09:16] systopia commented on #60
Thanks for reporting @pf030

[2018-06-15 09:18] systopia commented on #61
Thanks for reporting @pf030.
@all: Can any Wordpress user confirm this?

[2018-06-15 09:19] systopia commented on #62
Thanks for reporting @pf030

We don't have any client using the extension on Wordpress, sorry.

@all: can anyone confirm this?

[2018-10-18 10:03] jensschuppe opened #63 "Migrate documentation to MKDocs"
In order for the extension's documentation to be published on https://docs.civicrm.org, it needs to be converted to MKDocs format.

Additionally, the current [documentation](https://wiki.civicrm.org/confluence/display/CRM/DonationReceipts+Extension) should be revised for changes in described functionality or installation.

[2018-10-18 10:07] jensschuppe commented on #63
0dea0f5c119d3880ce644341178990c9c4773795 migrates the English version of the current documentation to MKDocs.

@systopia This should be checked for accuracy and obsolescences for the current version of the extension.

The German documentation can then be adapted afterwards. Unfortunately, different languages need their own documentation repository.

[2018-11-01 08:16] eileenmcnaughton opened #64 "Notices on settings screen"
I downloaded the extension & loaded the setting screen on master (5.8) to check if recent changes in core would mess with it (https://github.com/civicrm/civicrm-core/pull/13048) - it seemed OK but I did observe some other notices so posting s/shot here

![screenshot 2018-11-01 21 15 12](https://user-images.githubusercontent.com/336308/47840532-71d3f680-de1b-11e8-8837-4eb528582ff9.png)

[2018-11-02 08:52] systopia commented on #64
Thanks for the heads-up @eileenmcnaughton!

[2018-11-06 11:05] sluc23 commented on #50
Hi @systopia , still interested in including "numbers to words" in different languages?
In that case we could work on updating and rebasing our fork and trying to PR these changes

[2018-11-21 10:41] systopia opened #65 "PHP 7.1/7.2 Compatibility"
We should make sure the extension is compatible with PHP ``7.1`` and ``7.2``

[2018-11-26 12:57] jensschuppe opened #66 "ArgumentCountError when calling CRM_Donrec_Logic_Receipt::createCopy()"
`CRM_Donrec_Logic_Receipt::createCopy()` is being called without parameters in `civicrm_api3_donation_receipt_copy()` and causes an `ArgumentCountError`.

Looking at the method, the parameter `&$parameters` is never used and the method is only being called from that single code point. The signature should be adapted to not require any parameter.

Thanks to @thomst for initial reporting.

[2018-11-26 13:06] jensschuppe commented on #65
1c33ffc170586cd83a37af3f9b3e143daf20ef52 is the only thing PHPStorm's Language Level inspection reported as being incompatible with PHP 7.2.

[2018-11-27 09:30] jensschuppe commented on #66
c837535387283e921e514ddc15b815e004a377b2 is a patch commit for Version 1.3 on branch [dev_66_1.3](https://github.com/systopia/de.systopia.donrec/tree/dev_66_1.3) which is not to be merged into master.

[2018-11-27 10:27] jensschuppe opened #67 "MySQL queries not compatible with ONLY_FULL_GROUP_BY mode"
Several queries in the extension are not compatible with the MySQL `ONLY_FULL_GROUP_BY` mode, which is enabled by default starting with MySQL 5.7.5<sup>[1][mysql-release-notes]</sup>

Those queries use aggregation (with functions like `COUNT()`, `SUM()`, etc. or with a `GROUP BY` clause) but do not include all fields in the `SELECT` clause in the grouping.

If MySQL is running in `ONLY_FULL_GROUP_

[2018-12-13 12:36] systopia commented on #50
Hi @sluc23, yes, still interested, but too busy atm. Also, I'm on holiday now, but I'll try and pick this up in January. Season's greetings!

[2018-12-13 12:40] sluc23 commented on #50
sure.. let's get back to this in January, when starts the high season for Donor Receipts :)
Happy holidays to you, and for all **de.systopia.donrec** users :santa:

[2019-01-08 11:58] jensschuppe opened #68 "Provide presets for watermarks in the receipt template (was: Watermark should be placed on all PDF pages)"
The watermark is only visible on the first PDF page, but must be placed on all pages for copies and drafts.

[2019-01-08 12:01] jensschuppe commented on #68
a1bfefa816e9dca64a393556230ec7bbcc2282ff Uses an SVG background image on the `BODY` element for placing the watermark on all pages. This, however, only works with wkhtmltopdf.

For dompdf, the current behaviour is being retained.

@systopia This would need some real-world testing with different templates.

[2019-01-21 06:32] systopia opened #69 "Improved processing of bounced/returned receipts sent by email"
To facilitate the processing of large amount of bounced/returned receipts sent via the email function, there need to be two new features:

1. A way to manually process the email account receiving the returns, i.e. the return path. Processing will only produce activities to record the bounce event.
2. A contact task to withdraw a number of donation receipts

[2019-01-23 10:43] systopia commented on #68
@jensschuppe: As discussed, we'll create (hard)coded presets:
1. DomPDF traditional
2. wkhtml2pdf traditional
3. new svg based, big font size
4. new svg based, smaller font size
5. upper right corner

[2019-01-29 07:36] Detsieber opened #70 "Cancel donation receipts is broken"
After Update to CiviCRM 5.9.0, donrec 1.5, PHP 7.1, cancellation of donation receipts isn't working anymore:
Silent error, nothnig happens.

The drupal watchdog shows the following error:

Workaround: Deletion of donation receipt is working...

[2019-01-31 13:43] jensschuppe commented on #68
@systopia This is ready for review.

[2019-02-04 15:20] jensschuppe opened #71 "Wrong value for {$receipt.total} template variable in bulk receipt e-mail template"
When sending bulk receipts via e-mail, the value for the `{$receipt.total}` template variable is not correct. Instead of the sum of all donations being receipted, it *seems* to be set to the value of the first processed donation within that bulk receipt.

[2019-02-05 13:10] jensschuppe commented on #71
@systopia This is a first approach on passing bulk receipt tokens into the e-mail template instead of only the first snapshot line. There's some more interference, as denoted with `TODO`s, but I'm not really familiar with the snapshot model - maybe that's not the correct way to do it ...?

[2019-02-07 15:06] jensschuppe commented on #71
Should be checked for backwards compatibility (i.e. merge current tokens with "new" ones).

[2019-02-08 09:28] jensschuppe commented on #71
Merged "new" tokens with the existing ones inside `{$receipt}`.

<details>
<summary>Template variables being overwritten to account for all contribtuons being receipted:</summary>

- status
- total_amount
- non_deductible_amount
- date_from
- date_to
- id
- profile
- contact_id
- currency
</details>

<details>
<summary>Template variables being added:</summary>

- receipt_id
- issued_on
- issued_by

[2019-02-12 13:59] systopia commented on #12
released with ``1.6-beta1``

[2019-02-12 13:59] #12 closed

[2019-02-12 13:59] systopia commented on #58
released with ``1.6-beta1``

[2019-02-12 13:59] #58 closed

[2019-02-12 13:59] systopia commented on #65
released with ``1.6-beta1``

[2019-02-12 13:59] #65 closed

[2019-02-12 14:00] systopia commented on #66
released with ``1.6-beta1``

[2019-02-12 14:00] #66 closed

[2019-02-12 14:00] systopia commented on #71
released with ``1.6-beta1``

[2019-02-12 14:00] #71 closed

[2019-02-12 14:01] systopia opened #72 ""PDF with cover letter" exporter"
This should be the better solution than adding the cover letter to the receipt template.

[2019-02-14 09:18] jensschuppe commented on #70
https://github.com/systopia/de.systopia.donrec/blob/7b9721c6b593e7a5f7b4bd69af3600617a9b76fb/CRM/Donrec/Logic/Receipt.php#L224-L229

The docblock and method signature indicates that the `&$parameters` argument is not used for anything yet and should be removed or given a default value, similar as in c837535387283e921e514ddc15b815e004a377b2.

@systopia Can you confirm this is the way to go?

[2019-02-18 17:43] systopia opened #73 ""Send via E-Mail" broken in 1.6-beta1"
Due to a code change aiming at fixing #71, the "Send via E-Mail" export is fundamentally broken. **Don't use!**

[2019-02-19 09:47] jensschuppe commented on #73
2eb565af6a4be48094997122cabbe5ae2c5f71db fixes a remaining variable, which however, seems to only have an impact on test mode output.

With the fixes in this issue, e-mails are being sent to the correct contacts again - I refer to the test mode output here, which states that e-mails would be sent to the particular contacts - whereas without these fixes, the test mode output states e-mails would al

[2019-02-22 14:03] jensschuppe commented on #68
The latest commits use the paper size dimensions fpr sizing the `BODY` and `SVG` element to prevent watermarks moving out of the printable area.

Also added a new preset "SVGHolohedral" that prints the watermark 10 times per line, repeatedly across the whole document.

@systopia Could you try and test that?

[2019-02-22 16:14] systopia opened #74 "Error: Upgrade de.systopia.donrec to revision 0140"
I get the following error during the extension upgrade process to ``1.5``
[code]

[2019-02-22 16:53] systopia commented on #74
The underlying issue is this: the settings definition in question have already been removed in ``1.5``, but were needed in ``1.4``. So when upgrading from ``1.3`` to ``1.5`` or higher on a recent CiviCRM version, the settings API will throw that error.

The fix uses the internal functions of ``CRM_Core_BAO_Setting`` instead of the API, which don't have this restriction.

[2019-02-28 09:57] systopia opened #75 "Stored Originals: URL for file is not valid"
If you use the "store original PDFs" option, you will encounter the
[code]
error message when trying to access the file on a more recent version (e.g. ``5.10.x+``).

The reason is, that the generated URL for downloading files:
[code]
is not valid any more. It now requires the ``filename`` parameter for security reasons.

[2019-03-11 07:01] systopia commented on #73
fixed with ``1.6-beta2``

[2019-03-11 07:01] #73 closed

[2019-03-13 13:30] jensschuppe opened #76 "Add configuration for available exporters per profile"
Sometimes there are scenarios with different requirements for bulk and single receipts that can be modeled using different profiles; or maybe you want to explicitly disallow sending receipts via e-mail. It would then be feasible to have only the relevant exporters available to avoid users accidentially using an exporter that might produce invalid (i.e. unsupported) receipts. This should be configu

[2019-03-18 17:46] systopia commented on #75
released with ``1.6``

[2019-03-18 17:46] #75 closed

[2019-03-18 17:46] systopia commented on #74
fixed with ``1.6``

[2019-03-18 17:46] #74 closed

[2019-03-18 17:48] systopia commented on #69
released with ``1.7``

[2019-03-18 17:48] #69 closed

[2019-03-18 17:48] systopia commented on #68
released with ``1.7``

[2019-03-18 17:48] #68 closed

[2019-03-18 17:51] systopia commented on #50
@sluc23 / @scardinius : I have merged your respective approaches into a new data structure with ``1.7-alpha1``. You now have a "Language" setting which currently supports EN, DE, PL and ES.

Could you please have a look if it that works for you?

[2019-03-18 17:53] systopia commented on #46
Hi @scardinius! I included your code (somwhat refactored) into ``1.7-alpha1``. Let m know whether it works for you

[2019-03-18 17:58] sluc23 commented on #50
thanks @systopia !
yes definitely will take a look in upcoming days, we are looking forwards to merge all code from our fork and start using this main extension.

cc: @rubofvil, @CsarRamos

[2019-03-22 11:01] bjendres commented on #70
@jensschuppe Wasn't this released with ``1.6``?

[2019-03-22 12:22] jensschuppe commented on #70
Correct, therefore closing.

[2019-03-22 12:22] #70 closed

[2019-03-22 12:40] bjendres commented on #70
released with ``1.6``

[2019-04-02 08:43] jensschuppe commented on #50
@bjendres The implementation for German needs some improvements, e.g. no spaces between each part of composed numbers like "ein hundert zwei und siebzig", which should be "einhundertzweiundsiebzig" - maybe as a separate issue?

[2019-04-05 09:21] jensschuppe opened #77 "Allow "Default" profile be deleted"
The "Default" profile is offered to be deleted, just like any other profile, but it gets re-created instantly.

The "Default" profile should only be automatically created/disallowed to be deleted, when it is the only profile. If there are other profiles, the "Default" profile should be allowed to be deleted permanently and not be recreated.

[2019-04-12 09:40] jensschuppe commented on #44
The `{$contributor.addressee_display}` token value is also missing. The values are being stored to the database but not received when building token values.

Scanning `CRM_Donrec_Logic_Receipt::getAllTokens()`, those three were the only ones missing.

[2019-04-16 08:17] bjendres commented on #50
@jensschuppe I don't think everybody would agree to that. Definitely create an extra ticket, and get some customer opinions.... I vaguely remember there being a discussion about this when we implemented this.

[2019-04-16 08:24] jensschuppe opened #78 "German number_to_words function - remove spaces in cardinal numbers"
Follow-up for #50:

The number_to_words implementation for German needs some improvements, e.g. no spaces between each part of composed numbers like "ein hundert zwei und siebzig", which should be "einhundertzweiundsiebzig".

See [Wikipedia](https://de.wikipedia.org/wiki/Zahlwort#Bildung_der_Kardinalzahlen_im_Deutschen) for reference on how to build cardinal number numerals.

[2019-04-16 08:27] bjendres commented on #78
We should get some customer opinions.... I vaguely remember there being a discussion about this when we implemented it this way.

[2019-04-16 08:33] jensschuppe commented on #78
There's at least one customer who requested that directly (and may supply funding), which is why I came up with the comment on the other issue in the first place.

Also, it is just wrong to have the spaces in there. See the [Duden](https://www.duden.de/sprachwissen/sprachratgeber/Schreibung-von-Zahlen) as another official reference.

[2019-04-16 08:35] bjendres commented on #78
I meant from the people already using it...before we change their behaviour without them noticing. Maybe we can keep both formats - the old one as "legacy/wrong" :)

[2019-04-16 08:44] jensschuppe commented on #78
Sure. Although I would not introduce a new setting, but inject the legacy format as a separate token `{$totaltext_legacy}` or the like, only available for German, to keep it as clean as possible - and let people decide to alter their templates or not when they update the extension.

[2019-05-02 09:08] jensschuppe commented on #78
Discussed we'll do a separate language setting "German (with spaces)" and "German (without spaces)".

[2019-05-02 10:32] eth4ever commented on #13
@Rolf-ROBIN-WOOD You might have a look at this [https://lab.civicrm.org/extensions/membershippaymentgenerator] extension. It gives you the ability to generate contributions attached to memberships. But als to attach and detach existing contributions to memberships.

[2019-05-10 12:39] jensschuppe commented on #78
This looks good so far and got signoff from the customer who requested it, thus merged and closing.

[2019-05-10 12:39] #78 closed

[2019-05-10 12:39] #44 closed

[2019-05-10 12:45] jensschuppe commented on #63
This might use an update for the new features in [1.6](https://github.com/systopia/de.systopia.donrec/releases/tag/1.6) and [1.7](https://github.com/systopia/de.systopia.donrec/releases/tag/1.7)

[2019-05-10 13:29] bjendres commented on #46
We'll just assume that it works ;-)

Just create a new ticket if it doesn't...

[2019-05-10 13:29] #46 closed

[2019-05-10 13:29] bjendres commented on #50
Released with ``1.7``

[2019-05-10 13:29] #50 closed

[2019-05-14 12:52] bjendres opened #79 "Create donation_receipt_tokens hook"
Sometimes people need additional tokens in the donation receipt. These tokens would not be stored in the receipt, and therefore would differ in the copy, so that shouldn't be part of the main extension.

In order to enable people to add tokens anyway, we would want to add a hook.

[2019-05-21 15:13] Detsieber opened #80 "Download Button won't work - after Update to CiviCRM 5.13.4"
I don't know the exact version, when it broke... But with CiviCRM 5.13.4 it is not possible anymore to download (again) previously created donation receipts.

Error message:

[code]

[2019-05-22 06:07] bjendres commented on #80
I would assume this is due to the last security release, see https://civicrm.org/advisory/civi-sa-2019-15-xss-via-forged-mime-type. It might help to just add zip files to the new ``requestableMimeTypes`` setting via the API explorer:
[code]
@Detsieber Could you check if that works for you?

[2019-05-22 07:54] Detsieber commented on #80
Unfortunately, it doesn't work.

I also looked into the file sites/all/modules/civicrm/CRM/Core/Page/File.php where the error is thrown, and I think that line 75 won't ever work... ($mimeType is empty, and passing it to any function won't fill it - maybe something wrong with that line?)

[2019-05-24 08:40] bjendres opened #81 ""Store Original PDF" setting not handled correctly"
The setting ``store_original_pdf`` is not handled correctly atm, e.g. it's not possible to remove the flag once set.

[2019-06-04 09:20] rubofvil commented on #79
I tested the hook, and works fine, thanks for the work. Have you planned make the merge to master?

[2019-06-04 16:33] rubofvil commented on #51
We tested, and works property.

[2019-06-05 05:28] bjendres commented on #51
Great, thanks! We'll wait for ``1.7`` to be released, and then merge it into ``1.8``

[2019-07-02 09:54] sluc23 commented on #79
we tested this and works fine. Do you want us to make a PR?

[2019-07-18 08:59] sluc23 commented on #79
hi @bjendres , any plans on merging and realising this changes in a new version soon?

[2019-08-01 12:16] bjendres commented on #79
@sluc23: Yes, will release 1.7 soon and merge this into ``master``, i.e. it will eventually be released in ``1.8``

[2019-08-21 13:45] jensschuppe commented on #80
Released with 1.7

[2019-08-21 13:45] #80 closed

[2019-08-22 12:16] jensschuppe opened #83 "Provide a setting for selecting which contribution fields to unlock for editing"
It may be desirable to edit receipted contributions, although this should not be done excessively.

Therefore, there should be a setting with a sane default (not allowing editing) and the option to choose fields to be open for editing.

[2019-08-26 09:36] jensschuppe commented on #83
This should be the other way around, i.e. locking all fields and allowing _some_ fields be unlocked.

[2019-09-02 08:58] Detsieber commented on #60
I can confirm the described behaviour (CiviCRM 5.16.1, Donation Receipts 1.7).

There are two workarounds:
1) Copy and edit the download link (replace "/civicrm/?page" with "/wp-admin/admin.php/?page")
2) Make donrec save the pdf files (in donrec-settings), then download the created pdf-file using the donrec tab at the contact.

However, this better should be fixed. Should not be a big thing, and

[2019-09-03 05:40] bjendres opened #84 "Adjust text_length in receipt_item fields"
Some of the contribution/contact values are copied into the receipt item fields. However, instead of using the field length of the fields copied, the default field length for custom fields is used. We could save some DB storage space if we truncated those to the field length of the original fields.

[2019-09-06 12:55] jensschuppe commented on #63
Documentation is missing for the new features:
- unlockable fields for receipted contributions
- watermark presets
- e-mail exporter
    - Bounce handling
    - configurable "From" e-mail address
- more tokens (Smarty variables) in templates
- hooks
- currency selection
- anything else?

Installation instructions seem outdated as well.

Also, screenshots and step-by-step tutorials or at least an e

[2019-10-04 12:00] Fabian-SYSTOPIA opened #85 "When editing a profile, email settings get applied to all profiles"
Tested on version Donrec Version 1.7 stable and CiviCRM Version 5.14.0 and 5.10.0 (both Drupal 7.67).

When editing a profile (civicrm/admin/setting/donrec) all the settings regarding emails seem to be applied to ALL profiles. Steps to recreate:

1. Create a profile "test1" select an email template and save
2. Create another profile "test2" select a different email template and save

The email tem

[2019-10-04 12:03] jensschuppe commented on #85
This is intended behavior, only the settings in the first fieldset are considered to be profile-dependent. @bjendres correct me if I'm wrong.

[2019-10-05 07:58] bjendres commented on #85
That's correct. Only the fields in the "Profile" section are stored per profile

[2019-10-28 10:14] jensschuppe opened #86 ""is receipted" column should not be filled using JavaScript"
Currently, the "is receipted" column in contribution search results is being populated using a `hook_civicrm_searchColumns()` implementation, which adds the header and the data, but does not link them. The column is actually being filled with data in a `hook_civicrm_alterContent()` implementation, which renders a separate one-column table in a template and moves that into the selector result table

[2019-10-28 10:35] jensschuppe commented on #86
This is possible since CiviCRM 4.7.20, introduced by [this commit](https://lab.civicrm.org/dev/core/commit/4fb5fcf3b17af6c9f5bf49ecc69902c5b0b78c24).

[2019-10-28 10:48] jensschuppe commented on #86
4c1695e011915f4c91787dd4bb2d60f607320f6a keeps the current behavior for legacy versions of CiviCRM core prior to 4.7.20.

This should now be save for all versions.

[2019-10-28 14:55] jensschuppe opened #87 "Location type settings not working properly"
The addressee template variables are not being populated correctly when the location type (address category) for addressee and its replacement in case there is no address of that type are left set to "primary".

When they differ (e.g. "main" location type is "primary" and replacement is "Home"), it seems to work correctly.

[2019-11-06 10:00] rubofvil opened #89 "Add a field to know if the receipt was sent by email"
We need to know if the receipt was sent by email or download in a zip(there isn't a possibility to send by email to this contact, don't have a email, ....).
Have sense make a field to set this info when you generate the receipt?

@muniodiego , made this dev, is ok if we manage with a pull request, or is required some adjust?
https://github.com/ixiam/de.systopia.donrec/commit/74dc2ba4fec44254badbe8

[2019-11-07 09:59] bjendres commented on #89
Sounds like a good idea. Go ahead and create a PR and we'll see where to place it, because we have some major restructuring with the profiles coming up...

[2019-11-08 15:00] CsarRamos opened #90 "Is it possible to bind the tax receipt again?"
Hello,

After having used the "withdrawn" option on a tax receipt to be able to edit a contribution, I´m not able to validate the withdrawn receipt anymore.  Is there anyway of validating the tax receipt so it keeps its receipt number and includes the contribution changes? tx!

[2019-11-22 08:49] BenediktMagnus commented on #19
Released with version 1.7.

[2019-11-22 08:49] #19 closed

[2019-12-10 09:35] #51 closed

[2019-12-10 09:35] #79 closed

[2019-12-10 09:35] #83 closed

[2019-12-10 09:35] #86 closed

[2020-01-08 07:50] Detsieber commented on #60
I tested with this patch - and it works well!
However, this commit is not contained in Release 1.8...
@jensschuppe @bjendres Could you please release that?

Best
Detlev

[2020-01-08 13:22] jensschuppe commented on #60
This is scheduled to be released with an intermediate release 1.8.1, along with some other issues (also wordpress-related); see [milestone](https://github.com/systopia/de.systopia.donrec/milestone/10).

[2020-01-15 15:37] jensschuppe opened #92 "[meta] Refactor profile management"
This is a meta issue for referencing work being done during the refactoring of profile management.

- Profiles should be stored within a separate database table instead of a CiviCRM settings blob
- More options should be configurable per profile (#85)
- The profile configuration UI should be reworked to be more intuitive
- Profiles should be made deleteable
- [#77] The default profile should be al

[2020-01-21 17:08] grischard commented on #63
Currency selection is quite big - I'm currently avoiding this plugin because we receive donations in multiple currencies. Impatient to see the updated documentation :)

[2020-01-30 09:19] jensschuppe commented on #85
This is being taken care of in #92.

[2020-01-30 09:22] jensschuppe commented on #81
This will be taken care of in #92.

[2020-01-31 15:48] ulimoebius opened #93 "Formatierung des Zahlenwortes"
Das Zahlenwort im Feld "- in Buchstaben -" wird nicht mehr am Spaltenende umgebrochen. Dadurch überlagert das Wort manchmal das Datum in der Nachbarspalte. Als einfachen Workaround könnte man das Feld "- in Buchstaben -" in eine darunter liegende Zeile verschieben.

[2020-02-01 09:58] bjendres commented on #93
English: the "amount in words" used to break on the end of the column, but does not do so any more. This, obviously causes layout issues

[2020-02-01 09:58] bjendres commented on #93
@jensschuppe could you have a look?

[2020-02-03 08:48] jensschuppe commented on #93
I think this will have to be solved by putting soft hyphens within the words, just where spaces used to be.

As a workaround there is a language setting "German (with spaces)", which is, however, not correct according to German orthography.

[2020-02-04 10:19] VangelisP commented on #89
Good day @bjendres ! Any updates on this PR and/or the restructuring?

Cheers!

[2020-02-04 13:35] jensschuppe commented on #67
We try to use `ANY_VALUE()` to make sure the current behavior ist being kept.

[2020-02-04 13:42] jensschuppe commented on #15
Seems to be resolved since 1.2.1.

[2020-02-04 13:42] #15 closed

[2020-02-04 13:47] jensschuppe commented on #45
This seems outdated.

[2020-02-04 13:47] #45 closed

[2020-02-04 14:20] bjendres commented on #89
We're in the last steps of creating a 2.0 alpha version, and we'll try to merge this as well. Can't be more than a week or two. Would you be able to help testing then...?

[2020-02-04 14:43] VangelisP commented on #89
Of course we will !

[2020-02-05 08:41] jensschuppe commented on #61
We can't reproduce this, so closing.

[2020-02-05 08:41] jensschuppe commented on #62
We could not reproduce this, so closing.

[2020-02-05 08:41] #62 closed

[2020-02-05 08:59] jensschuppe opened #94 "Find contributions that have not been receipted"
It should be possible to add search criteria for finding contributions that have not yet been receipted.

[2020-02-05 10:47] jensschuppe commented on #64
This will be taken care of in #92.

[2020-02-05 11:04] jensschuppe commented on #81
This has also been fixed since 1.7 already.

[2020-02-05 11:04] #81 closed

[2020-02-05 13:36] jensschuppe commented on #87
Can't reproduce what I originally observed here.

[2020-02-05 13:36] #87 closed

[2020-02-06 11:57] jensschuppe opened #95 "Assign configurable tag to contacts when issueing receipts"
It may make sense to have a configuration setting per profile allowing to select a tag to assign to contacts when issueing a receipt.

[2020-02-06 14:09] pbatroff opened #96 "Custom bounce Handling"
When dealing with bigger Mail Providers, bounce handling often is done via webhook. Sometimes not all parameters are reported back, or a special field exists to transport additional information.

We have this Problem with mailjet. Custom information can only be reported back through the field 'X-MJ-EventPayload'. Therefore contact_id, contribution_id and timestamp need to be added there, if the sy

[2020-02-06 16:27] pbatroff opened #97 "Iterate over allowed properties when saving profiles to allow for new properties be added without altering profiles"
When entering default values in setting form

https://github.com/systopia/de.systopia.donrec/blob/037ab08570dbb76386fbb14167f4903fb4fd7114/CRM/Admin/Form/DonrecProfile.php#L459

it iterates over already existing values.

It should however, iterate over a list of registered parameters.

[2020-02-07 10:34] jensschuppe commented on #97
The same applies for setting data in the form postprocess:

https://github.com/systopia/de.systopia.donrec/blob/037ab08570dbb76386fbb14167f4903fb4fd7114/CRM/Admin/Form/DonrecProfile.php#L607

Having an array of allowed parameters instead would make it easer to introduce new params in the future without having to update all existing profiles.

[2020-02-12 11:05] jensschuppe commented on #67
`ANY_VALUE()` is not available in MariaDB, so this is not a correct fix. Using `CRM_Core_DAO::disableFullGroupByMode()` and `CRM_Core_DAO::reenableFullGroupByMode()` instead is what CiviCRM core is doing, until those queries are being reworked to meet standard.

[2020-02-21 09:26] larnoult opened #98 "CiviCRM Donation Receipts Settings"
After installation, you need to set a pdf template. The Donation Receipts Settings can be found in the administration console, under the section "CiviContribute". (wp-admin/admin.php?page=CiviCRM&q=civicrm%2Fadmin&reset=1)

[2020-02-21 09:51] jensschuppe commented on #98
That's correct, a PDF format is necessary for issueing donation receipts. The PDF format select field is mandatory in the Donation Rreceipts profile (Version 2.0), resp. the message template being used until Version 1.8.

Do you want that to be noted in the documentation or have a validation/status message when there is no PDF format?

[2020-02-21 10:07] larnoult commented on #98
Maybe, add a link to the Donation Receipts settings when a user tries to generate a pdf receipt and can not (so far, there was just a red notice not clearly stating where to set the template)

[2020-02-21 10:07] #98 closed

[2020-02-21 10:25] larnoult opened #99 "Civicontribute DBerror"
After installing the extension, I wanted to test it, so I ran a "issue donation receipt" action on some users. As I hadn't previously set a pdf template, it did not complete.
After setting a pdf template, I see the following bugs:

- I cannot access anymore the civiContribute dashboard. I think it is related to donrec extension, since I have the following error:
`Table 'parlemoncivicrm.civicrm_val

[2020-02-21 11:12] larnoult commented on #99
Quick update; the DB error not only affects CiviContribute, but also the core. (any request to DB ends up with the same error)

[2020-02-21 11:26] bjendres commented on #99
sounds like something's wrong with your installation...

[2020-02-21 12:06] jensschuppe commented on #99
- Which version of donrec did you install?
- Have you run the database updates after installing the extension (would explain the missing custom value table)

[2020-02-21 15:46] larnoult commented on #99
Thanks for your reply. You're right, it's probably related to the install. Although I tried to [follow instruction from this documentation.](https://wiki.civicrm.org/confluence/display/CRM/DonationReceipts+Extension)
I have not ran any database update after installing the extension. What kind of update should be operated? (I can not find any mention of it in the preceding documentation).
Best,

[2020-02-25 12:36] jensschuppe commented on #99
When installing the extension, you are being redirected to the extension list. If there are pending database updates (which is the case when you have just installed the extension), a message will appear, providing a link to click on for performing those updates. If you miss that, the message will appear each time you are visiting the extensions list.

Running the database updates is necessary for

[2020-02-25 15:58] larnoult commented on #99
Ok, thanks for your answer. I had to desactivate, and uninstall your extension; then reinstall and activate it before being able to run the DB update. In the process, I encontered this notice
![image](https://user-images.githubusercontent.com/20889221/75264565-e3de0500-57ef-11ea-8f05-6fad26d46269.png)
Nevertheless, the DB error showing up while accessing the contribution tab is no more, so I guess

[2020-02-26 08:42] jensschuppe commented on #99
There should be a detailed error mesage with a full backtrace in the CiviCRM log (inside CiviCRM files/ConfigAndLog). Could you check that? Seems there have been some leftovers from the previous installation that weren't cleaned correctly.

Could you try to install the extension on a fresh CiviCRM installation to see if the error persists, so as to provide clear steps to reproduce the error, if it

[2020-03-04 17:01] #90 closed

[2020-03-18 09:43] jensschuppe commented on #97
Available properties are being defined within `CRM_Donrec_Logic_Profile::defaultProfileData()`. Iterating over those instead of the current profile's stored data should do it when saving a profile.

[2020-03-25 08:58] tobiberlin opened #100 "Created receipts saved in server's tmp folder not in CiviCRM temporary folder"
Hi,

I wondered why the tmp folder of our server became so large and realized that all the created PDF receipts are saved here. I am new to CiviCRM and this module but I did not find a way to change this. As the temporay folder is set in CiviCRM settings I wonder while these files are not saved within this folder?! It also seems that the receipts are never deleted from /tmp folder?!

Best,
Tobias

[2020-03-26 14:07] jensschuppe commented on #60
released with [1.8.1](https://github.com/systopia/de.systopia.donrec/releases/tag/1.8.1).

[2020-03-26 14:07] #60 closed

[2020-03-26 14:12] jensschuppe commented on #27
This seems outdated, can't reproduce.

[2020-03-26 14:12] #27 closed

[2020-04-23 09:06] jensschuppe opened #101 "Unlock settings not applied correctly due to ID mismatches"
When validating contribution edits to check for whether altering a specific field's value is allowed according to the "Contribution unlock" settings in the donrec profile, the extension is trying to retrieve those settings for a `CRM_Donrec_Logic_ReceiptItem` ID when it has to be a `CRM_Donrec_Logic_Receipt` ID.

This may lead to

- using potentially different settings if a ReceiptItem ID happens

[2020-05-13 06:29] bjendres commented on #100
That's a valid point.

It was implemented this way, so that people would be able to still access the generated PDF files (for a while) even if e.g. the download failed. As you probably know, if you don't save the downloaded ZIP file, you cannot (easily) recover the original receipt via the UI.

This was under the assumption, that the ``/tmp`` folder is cleared out in regular intervals, which is th

[2020-05-13 12:16] jensschuppe opened #103 "Contribution unlock settings not saved"
Szenario is still unclear, but the individual fields to unlock for editing when selecting "Selected fields" as the unlock mode are not being saved, at least not shown when the profile form is opened again after saving.

[2020-05-18 08:44] rubofvil commented on #89
I close the issue, thx for the merge.

[2020-05-18 08:44] #89 closed

[2020-05-26 16:25] martinh-pw opened #104 "Recurring contributions get incorrect receipts"
Hi there, we are seeing an issue where contributions are showing up as receipted, but we did not receipt them. Here's a breakdown of what we believe we are seeing.

This case happens when there are recurring contributions. It only happens when the original contribution has already been receipted (which had worked properly).

When the later contributions are made, they get added to the old receipt

[2020-05-27 06:42] bjendres commented on #104
That sounds like a pretty bad problem, thanks for reporting!

My suspicion is the following: I remember that in the Barcelona sprint we were talking about improving the generation of recurring contribution installments by adding a 'template' contribution (marked in the ``is_template`` field), the fields of which would automatically be copied into any new installment. If they implemented this in a

[2020-05-27 11:51] martinh-pw commented on #104
Hi @bjendres, the behavior you're describing sounds like basically what we are seeing, i.e. that the new contribution is basically a copy of an older one (including all custom fields). However this query returns 0 on our db: `SELECT * FROM civicrm_contribution where is_template=1`

[2020-06-02 07:28] bjendres commented on #104
@jensschuppe Could you please see if you can reproduce this behaviour on a CiviCRM ``5.24.5``. Potentially where the contribution (and/or recurring contribution) has custom fields.

[2020-06-04 13:13] jensschuppe commented on #63
Since version 2.0 made major changes to the configuration UI, this should also go into the new MKDocs documentation.

[2020-06-05 11:31] jensschuppe commented on #104
I could not reproduce the issue on a CiviCRM 5.24.5, here's what I did:

1. Create a recurring contribution using the API explorer: `ContributionRecur.create` with a status "Pending"
2. Create a contribution that belongs to the recurring contribution using the API explorer: `Contribution.create`
3. Issue a donation receipt for the contact, including the contribution
4. Create another contribution

[2020-06-05 12:28] jensschuppe commented on #104
Seens related to civicrm/civicrm-core/pull/17454

[2020-06-05 12:47] bjendres opened #105 "Implement mitigation for incorrectly receipted new recurring contributions"
As exposed by #104 there is a serious issue in CiviCRM ``5.24.5`` (and others) that causes new contributions created by payment processors (via ``Contribution.repeattransaction``) to get copied the same "receipted" information. Those then cannot be receipted again.

Even though this needs to be fixed in CiviCRM, we want to put some mitigation in this extension:

1. Make sure (`Contribution.create`

[2020-06-05 12:51] bjendres commented on #104
@martinh-pw as @jensschuppe pointed out this seems to be a bug in CiviCRM core, that copies all custom fields (including the 'is receipted' information) to a new installment when the payment processor uses ``Contribution.repeattransaction``.

We'll try to add mitigation/cleanup code to the extension next week (see #105), would you be able to test?

[2020-06-05 12:54] jensschuppe commented on #104
@martinh-pw Can you also confirm that it is related to CiviCRM payment processors (i.e. PayPal or somthing that uses the iATS Payments extension) - just to be clear about the cause?

[2020-06-05 14:21] martinh-pw commented on #104
Thanks @jensschuppe and @bjendres , this is great having these clarifications!

Yes I can confirm the cases we're seeing are specifically for recurring payments processed via iATS, using the com.iatspayments.civicrm extension.

Yes, can test your changes for sure, although it might take a few days. I know someone customized the extension previously and I need to figure out what they did before I c

[2020-06-16 10:06] #105 closed

[2020-06-16 10:07] jensschuppe commented on #105
Will be released with version 2.0.

[2020-06-16 10:13] jensschuppe commented on #104
@martinh-pw You can test the implemented mitigation with [2.0-beta3](https://github.com/systopia/de.systopia.donrec/releases/tag/2.0-beta3).

Please report back here whether there are still issues with that.

[2020-06-30 12:44] muniodiego opened #107 "When transferring a contribution, not all the fields of the original contribution are copied"
When transferring a contribution, not all the fields of the original contribution are copied (for example: contribution_page_id).

This error arises because Contribution.getsingle does not return all fields in the contribution: https://github.com/systopia/de.systopia.donrec/blob/20a74225a358007c9a64b0e987727846f59b4774/CRM/Donrec/Form/Task/Rebook.php#L143

[2020-07-15 09:42] jensschuppe opened #109 "Improve default template"
The default template should be reworked to match DIN/EN/ISO standards and use clean CSS and markup, and also contain some introductory comments, so that editing it will be a bit easier.

[2020-07-16 15:05] tobiberlin commented on #100
@bjendress sorry for the late response. I think this would really nice. Esspecially as some users may want to keep the created PDFs for some reasons?! In this way one could define any folder. But to be honest I would not offer the server's tmp folder. To me this is only a very technical space where I wouldn't store temporary files of an application - when there is a local tmp folder for the applic

[2020-08-09 15:49] mmgit opened #110 "Use tokens of MoreGreetings Extension"
Hi,
it would be nice to have access to the data of the More Greetings extension for using in the donrec templates. We use More Greetings to create our addressee and greeting fields. Or is it possible to do api calls in a template?

Regards
Marcus

[2020-08-11 13:00] jensschuppe commented on #110
Since the donrec template does not use CiviCRM tokens, but Smarty variables, the MoreGreetings custom fields do not seem to be available, that's true. Maybe making available all contact tokens would be desirable.

In the meantime, Performing API calls in donrec templates is what we've been doing for retrieving custom field values. An example:

[code]
 Usage:

[code]

Ugly, but powerful. Feel free

[2020-08-11 13:00] #110 closed

[2020-08-11 13:51] bjendres commented on #110
Keep in mind, that there was a reason we wouldn't allow CiviCRM Tokens in the receipt template: if the tokens change, a future copy of the of receipt would differ from the the original. This could lead to trouble with some tax authorities; in particular some of the German ones.

Using the API to pull data would obviously cause the same potential issues.

[2020-08-12 07:06] jensschuppe commented on #110
Thanks, @bjendres, that's of course true. I remember discussing an approach with user-defined "variables" per profile, which could use contact token values and would be explicitly stored with the receipt to avoid changes.

[2020-08-19 12:05] sluc23 opened #111 "upgrade from v1.8, what version to choose 2.0-x or 2.1-x?"
We are starting the planning an upgrade from version 1.8, and there are 2 versions being developed a the same time, 2.0 and 2.1.

@bjendres  I haven't seen any roadmap or docs about the different features between versions, but in this case what do you recommend to upgrade to?

cheers!

[2020-08-19 12:50] jensschuppe commented on #111
Version 2.1 will have (at least) the following extra features (compared to 2.0):
* [#96] Custom bounce Handling - by @pbatroff
* [#101] Unlock settings not applied correctly due to ID mismatches - by @jensschuppe
* [#102] Add OVERWRITE to zip mode - by @zonradkuse
* [#106] Update legal notice in German default template - by @jojowork

If you don't need any of them, install 2.0-beta3, which is "mor

[2020-08-19 13:29] sluc23 commented on #111
cool, thanks @jensschuppe fir the info!

[2020-08-31 16:17] zonradkuse commented on #111
I think 2.1-alpha1 does not yet contain #102. We tried updating to 2.1-alpha1 but had to manually apply the change again. Looking forward to 2.1, though! :)

[2020-09-01 08:21] jensschuppe commented on #111
You are right, it has been merged after 2.1-alpha1 was tagged. This also applies for #101 and #106, which leaves 2.1-alpha1 with #96 only. Sorry, I copied the release draft which included all merged changes.

If you need the other features, you can install the current master at 12f7c3c84030582878af69879e8278a1a7a357c5.

[2020-09-01 08:21] #111 closed

[2020-09-01 08:22] jensschuppe commented on #104
@martinh-pw Can you confirm the mitigation implemented in 2.0-beta3 works as expected?

[2020-09-01 13:12] martinh-pw commented on #104
@jensschuppe - Hi, sorry but I don't have a confirmation for the time being. Unfortunately as I was pursuing this ticket, someone else on the team threw together a work-around that is still being used now. We've been asked to leave this as is and focus on other work. So I apologize but I can't comment on it at the moment. :(

[2020-11-12 06:59] Detsieber opened #115 "5.31 compatibility: Tab "Donation receipts" on contact summary does not appear"
The tab is not shown on the contact summary, after upgrade to CiviCRM 5.31.0

The functionality is still available via url:
Drupal8: ../civicrm/donrec/tab?cid=3134&force=1&reset=1&snippet=1
Wordpress: .../wp-admin/admin.php?page=CiviCRM&q=civicrm%2Fdonrec%2Ftab&reset=1&snippet=1&force=1&cid=11

But, the tab is lost.

It seems, that the technique used to inject the tab into the contact summary brok

[2020-11-20 09:55] bjendres commented on #115
@Detsieber: could you verify that the fix above works? It's contained in [this version](https://github.com/systopia/de.systopia.donrec/archive/8ca8335ed2a9d59b3812f9d9794872777ed1a003.zip).

If it works we can create a ``2.0`` beta release

[2020-11-20 10:00] jensschuppe commented on #115
@bjendres Please keep in mind that this needs to be cherry-picked to the `master` branch as well (since you branched `issue/115` off `release/2.x`).

[2020-11-20 15:07] Detsieber commented on #115
Hi Björn,

I can verify: test works well for Wordpress!

However, for Drupal, I don't have a test system at hand...

Best
Detlev

Am 20.11.20 um 10:56 schrieb Björn Endres:

[2020-11-20 15:09] Detsieber commented on #61
This issue is still reproducable!
Could you please re-open?

[2020-11-25 14:38] jensschuppe commented on #61
@Detsieber Could you provide steps to reproduce this on a clean installation?

[2020-11-25 17:35] Detsieber commented on #61
Steps to reproduce on a clean install (CiviCRM on Wordpress):

1. Donation receipts profile: edit
2. Enter an image into the receipt template, e.g.:
<div class="logo-header"><img alt="logo" src="https://systopia.de/sites/default/files/SYSTOPIA%20Logo%20HD_0.png" /></div>
3. Check: "PDF Originale speichern" / "Store original *.pdf files"
4. Create a contribution
5. Create new donation receipt: Issu

[2020-11-27 16:25] bjendres commented on #77
Released with ``2.0``

[2020-11-27 16:25] #77 closed

[2020-11-27 16:25] bjendres commented on #81
Released with ``2.0``

[2020-11-27 16:25] bjendres commented on #85
Released with ``2.0``

[2020-11-27 16:25] #85 closed

[2020-11-27 16:26] bjendres commented on #89
Released with ``2.0``

[2020-11-27 16:26] bjendres commented on #92
Released with ``2.0``

[2020-11-27 16:26] #92 closed

[2020-11-27 16:26] bjendres commented on #97
Released with ``2.0``

[2020-11-27 16:26] #97 closed

[2020-11-27 16:26] bjendres commented on #115
Released with ``2.0``

[2020-11-27 16:26] bjendres commented on #64
Released with ``2.0``

[2020-11-27 16:26] #64 closed

[2020-11-27 16:27] bjendres commented on #67
Released with ``2.0``

[2020-11-27 16:27] #67 closed

[2020-11-27 16:27] bjendres commented on #101
Released with ``2.0``

[2020-11-27 16:27] bjendres commented on #105
Released with ``2.0``

[2020-11-27 16:27] bjendres commented on #115
Released with ``2.0``

[2020-11-27 16:27] #115 closed

[2020-11-30 12:22] tobiberlin commented on #115
@bjendres I updated to latest CiviCRM and lost the tab so I updated to the 2.0 version of this extension. But still the tab is missing. I run the extension upgrading and re-built the cachings but nothing changes

[2020-11-30 12:27] tobiberlin commented on #115
When I enter the tab path directly as mentioned above (/civicrm/donrec/tab?reset=1&cid=XXX) I get an "Access denied" - this is new with the update to 2.0. Do I need configurate something new?

[2020-11-30 12:31] tobiberlin commented on #115
Ok... I got it... I needed to set the permissions in the Drupal role / permission configuration.

[2020-12-02 09:55] jojowork opened #116 "Unable to set default profile when there is no current default profile"
I used a blank civicrm-installation and the new stable donrec 2.0 version
https://github.com/systopia/de.systopia.donrec/releases/download/2.0/de.systopia.donrec-2.0.zip
i made the database update and then clicked  http://localhost/test/civicrm/admin/setting/donrec/profile?op=default&id=1
to make the current profile to a default profile.
but then i got an error-message: Konnte kein Standard-Profil

[2021-01-18 14:01] bjendres opened #117 "DB Error: Data too long"
In a recent change of the DB configuration with CiviCRM ``5.28.3`` (and maybe earlier) data written to custom fields is no longer truncated silently, but raises the error.

That can affect the creation of donation receipts, it has been observed in the ``postal_code`` fields.

We should add code to mitigate this.

[2021-01-29 08:28] larnoult opened #118 "Box property calculation error"
Hello,
Issuing donation receipt creates this error (and does not complete)
`Box property calculation requires containing block width
`
![image](https://user-images.githubusercontent.com/20889221/106250443-ef158e00-6213-11eb-972d-83e01190c489.png)
I'm running 5.31.0 on WordPress 5.6
I know your extension is not primarily intended for WordPress, yet in our set-up it used to run smoothly..
Thanks!

[2021-02-01 07:19] bjendres opened #119 "Issued-by contact deleted causes errors"
If the contact referred to in the ``issued_by`` column of the donation receipt is deleted, the lookup query generates a big error log. The UI still works, and the name is left empty, but we should add a ``ON DELETE SET NULL`` directive to that field.

[2021-02-04 10:53] mmgit opened #120 "Rebook from contact to household"
Can you please explain why it isn't  possible to rebook contributions from a person to a household?

[2021-02-10 11:24] bjendres commented on #120
In some countries (at least Germany) you cannot issue a legal donation receipt for a household, since the donor has to be a legal entity (e.g. an individual or an organisation).

If this bothers you, you remove the following lines: https://github.com/systopia/de.systopia.donrec/blob/master/CRM/Donrec/Form/Task/Rebook.php#L261-L266

[2021-02-11 08:06] thomst opened #121 "Broken button layout with CiviCRM >= 5.31"
Since CiviCRM 5.31 the layout of all submit buttons of the extension specific formulars are broken.

This is related to the altered way CiviCRM renders its submit buttons since 5.31: https://civicrm.org/blog/eileen/prepare-civicrm-531-now-changes-could-affect-customisations

[2021-02-20 10:08] Detsieber commented on #61
I checked today with CiviCRM 5.34.0, Donrec 2.0, Wordpress 5.6.1:
This still doesn't work.

This bug makes it impossible to create and download a "copy" of donation receipt.

[2021-03-18 15:49] ulimoebius opened #123 "IDS: Can't create a profile with html in the Box "template"."
Auf Deutsch:
Nach Update auf Version 2.0, CiviCRM 5.19.1., Drupal 7
Wenn ich ein Profil anlege oder ein bestehend bearbeite, erscheint, nachdem ich "Speichern" gedrückt habe, folgender Fehler:
"Sorry, due to an error, we are unable to fulfill your request at the moment. You may want to contact your administrator or service provider with more details about what action you were performing when this

[2021-03-18 16:28] ulimoebius commented on #123
Wir haben einen "Workaround" gefunden:
wir haben in civicrm.settings.php die Variable "civicrm_ids_enable" auf 1.
unter "Drupal Access Control" gibt es die Berechtigung "CiviCRM: skip IDS check". Hier habe wir bei der Rolle, welche die Profile bearbeitet, ein Häcken gesetzt.

[2021-03-18 16:56] ulimoebius opened #124 "Cant creat a "Zuwendungsbescheinigung""
Auf Deutsch:
Nach Update auf Version 2.0, CiviCRM 5.19.1., Drupal 7
Wenn ich eine "Zuwendungsbescheinigung" erstellen möchte, kommt folgende Fehlermeldung:
"Sorry, due to an error, we are unable to fulfill your request at the moment. You may want to contact your administrator or service provider with more details about what action you were performing when this occurred.
DB Error: no such table"

c

[2021-03-19 01:59] ulimoebius commented on #124
Ein Blick in die Datenbank hat bestätigt: donrec_snapshot existiert nicht (mehr). Mein IT-Kollege meint sich an die Updateanleitung gehalten zu haben (alte Version deaktivieren, neue Version einspielen und Datenbank update). Es hat auch alle Einstellungen und Profile in die neue Version übernommen. Nur donrec_snapshot ist verschwunden. Ich schlug vor, einfach den Befehl aus der master/sql/donrec.s

[2021-03-19 09:22] bjendres commented on #123
Danke @ulimoebius. Das liegt vermutlich am Inhalt der Vorlagen - vermutlich können wir das IDS auch an dieser Stelle auch ausschalten.

[2021-03-19 09:27] bjendres commented on #124
Das ist komisch, denn ein ``DROP TABLE IF EXISTS `donrec_snapshot`;`` wird im Code ausschließlich bei der Deinstallation aufgerufen.

@ulimoebius Ist es möglich dass ihr nicht nur deaktiviert, sondern auch *deinstalliert* habt? Ansonsten müsste es einen anderen Grund geben...

[2021-03-19 14:20] ulimoebius commented on #124
Nur deaktiviert und Ordner umbenannt. Mein Kollege schaut jetzt mal in Datensicherungen vor dem Update und dann melden wir uns.

[2021-03-19 14:39] ulimoebius commented on #123
Das kann sein. Es betrifft aber auch eure Standartvorlage.

[2021-03-25 13:45] jensschuppe commented on #22
Closing, since there's been no feedback and the (possibly) related fix in #37 has been released since 1.4.

[2021-03-25 13:45] #22 closed

[2021-03-28 19:52] being-peace commented on #61
I checked today with Wordpress 5.6.2, CiviCRM 5.32.2, DonRec Master  and had no problem to create and download the "copy" with "KOPIE" watermark.

[2021-03-29 07:14] Detsieber commented on #61
As far as I observed, the problems only happen when there are images
included in the pdf file.

Am 28.03.21 um 21:52 schrieb Polzin:

[2021-03-29 07:59] being-peace commented on #61
I had an image included (with <img src="https://..." width="150px">).

[2021-03-30 11:18] sleidig commented on #121
I see the same problem - white text on white buttons since the last upgrade.

@bjendres, we don't have funding but I could contribute a PR if you are interested. Do you already have an approach in mind?

[2021-03-30 11:51] bjendres commented on #121
Sure, PRs always welcome.

No, but the only condition is, that it needs to work on reasonable recent CiviCRM versions and with and without shoreditch.

[2021-03-31 08:57] thomst opened #125 "Deprecation warning when using CRM_Core_OptionGroup::getValue"
The function CRM_Core_OptionGroup::getValue is deprecated since CiviCRM-5.3.0 (https://github.com/civicrm/civicrm-core/commit/496320c3e26db358ef3cd23efb8ca3e3061ee844)
Instead use CRM_Core_PseudoConstant::getKey to get rid of the deprecation warning.

[2021-03-31 08:59] thomst commented on #125
Here is a list of places where the deprecated function has being used:
[code]

[2021-04-01 12:27] jensschuppe opened #126 "Update to version 2.0 fails when profile has no template assigned"
If there is no template set in a profile that is to be migrated into the `2.0` version profile data structure, the upgrade process fails with an API error `Expected one MessageTemplate but found 0`.

Although a profile without a template does not make sense in the first place, it's a possible scenario to have using the old UI, hence it's a bug. The upgrade task should handle this and continue the

[2021-04-07 14:38] mmgit commented on #120
Thank you I will try this. Maybe it can be made configurable via WebGUI in a future version.

[2021-04-07 15:43] bjendres commented on #120
PRs always welcome :)

[2021-04-07 15:43] #120 closed

[2021-04-08 10:19] jensschuppe commented on #126
Will be released with 2.1, also released with 2.0.1.

[2021-04-08 10:19] jensschuppe commented on #116
Will be released with 2.1, also released with 2.0.1.

[2021-04-12 09:31] BenediktMagnus commented on #61
This bug is fixed in #122, already merged to master but not in the newest release yet.

[2021-04-12 09:59] jensschuppe commented on #61
As @being-peace already confirmed, this works with the current `master` branch. I'm thus closing this as a duplicate of #122.

[2021-04-12 09:59] #61 closed

[2021-04-23 08:57] bjendres opened #127 "Rename donrec_profile"
The ``donrec_profile`` table should probably be called ``civicrm_donrec_profile`` so it would be added to the extended logging. It's quite an important table to log changes for.

[2021-04-23 09:21] bjendres opened #128 "Unlock fields selection not stored"
You have the option in the profile to unlock certain fields, i.e. to exclude them from write protection. However, the selection is not stored in the profile editor, rendering this option useless.

[2021-04-23 09:22] bjendres commented on #128
See also #101

[2021-05-26 07:45] Detsieber opened #129 "Deleting of contributions with donation receipt fails silently - no error message displayed"
Deleting of contributions with donation receipt fails - this is, of course, the required behaviour!
However, it fails silently, without displaying any error message and leaving the user uninformed what happened.
ConfigAndLog contains the following:

[code]

This might relate to Wordpress only. Versions:
CiviCRM 5.36.1
Donrec 2.0
Wordpress 5.7.2

[2021-07-15 16:22] mariav0 opened #130 ""rebook" function appears twice after CiviCRM update"
After I've updated on CiviCRM version 5.39.0 "rebook" appears twice.

![image](https://user-images.githubusercontent.com/70949178/125822521-e1c9d27c-48e9-4f7d-8be7-530eaca37fd1.png)

(I've disabled the extension to assure it is a bug from this extension.)

[2021-07-15 16:33] mariav0 opened #131 ""rebook" function does not calculate correctly"
When I add a contribution (150 € including VAT) for contact A...

![image](https://user-images.githubusercontent.com/70949178/125823624-e947dc30-3435-4ea8-993c-16b8dfc40cc3.png)

and rebook this contribution to contact B, the VAT is added on top again:

![image](https://user-images.githubusercontent.com/70949178/125824100-59dd3035-1ae2-4942-955d-d316a36aa858.png)

(Tested on CiviCRM version 5.37.0

[2021-07-28 07:39] romymy opened #132 "Button "view" doesn't work and when creating a copy, also no download-button appears"
Wordpress 5.7.2, CiviCRM 5.38.0, donrec 2.0 >> When I create a copy of an original donation receipt, I only get the button "view" (not "download"). This happens regardless of whether I have activated the option "Store original PDF files" in the donrec profile or not.

If a donation receipt is created, it usually is displayed in the log, eg.
_[info] de.systopia.donrec: resulting PDF file URL is '/w

[2021-08-20 14:20] romymy commented on #132
I got a hint, that this issue is fixed in version 2.0.1. Using the view-button of a copy now results in a download and this file includes the copy-watermark. Thanks

[2021-08-20 14:20] #132 closed

[2021-08-23 07:38] Detsieber commented on #132
This is a duplicate of #61
Unfortunately, this fix is not contained in 2.0.1, but is tagged for 2.1

[2021-09-05 07:51] Detsieber commented on #132
Also a duplicate of #122 (where the fix is provided)

[2021-09-07 08:28] jensschuppe commented on #128
@bjendres Can this be merged for a new release?

[2021-09-07 09:01] jensschuppe commented on #124
@ulimoebius Ist das noch aktuell? / Is this still relevant?

[2021-09-07 09:08] jensschuppe commented on #123
I'll close this since there's a workaround and no similar complaints have been filed.

[2021-09-07 09:08] #123 closed

[2021-09-07 09:16] jensschuppe commented on #104
With #105 implementing a mitigation and the mentioned core PR being merged, I'll close this issue.

[2021-09-07 09:16] #104 closed

[2021-09-07 09:17] jensschuppe commented on #103
Closing as duplicate of #128.

[2021-09-07 09:17] #103 closed

[2021-09-07 09:18] jensschuppe commented on #96
Will be released with `2.1`.

[2021-09-07 09:29] jensschuppe commented on #99
Closing this due to inactivity. Feel free to reopen, if this is still an issue.

[2021-09-07 09:29] #99 closed

[2021-09-07 09:32] jensschuppe commented on #47
Since this issue addresses putting the extension settings in the navigation menu and there haven't been any `+1`s for that, I'm closing the issue.

[2021-09-07 09:32] #47 closed

[2021-10-04 12:24] mariav0 commented on #131
There is an extension (https://github.com/lcdservices/biz.lcdservices.movecontrib) which does the job already. Unfortunately it only works when donrec is deactivated. @bjendres  Would you mind cutting out this functionality from the donrec extension and enter a new release? Thank you in advance :)

[2021-10-04 12:48] jaapjansma commented on #131
@bjendres I will make sure that this extension the movecontrib extension are compatible with each other without losing any functionality.

[2021-10-07 13:14] bjendres commented on #131
Thanks Jaap. Will be released with ``2.0.2`` or with ``2.1``.

[2021-10-28 08:02] datenritter opened #135 "Update to 2.0 leads to Table 'wordpress.donrec_snapshot' doesn't exist"
I have recently updated a site to wordpress 5.8.1, CiviCRM 5.42.1 and donation receipts from 1.8-dev+15ac09c to 2.0.

I followed the update instructions here: https://wiki.civicrm.org/confluence/display/CRM/DonationReceipts+Extension

I did *not* delete the extension. I moved it's folder away and replaced it with the new version, then reactivated it in the CiviCRM settings.

When I try to delete a

[2021-10-28 13:40] #135 closed, assigned to nobody

[2021-12-07 12:57] jaapjansma opened #136 "Add functionality to create donation receipts for contributions with multiple line items"
For example I had an event this year where people could signup and pay the event fee but they could also additionally do another donation. This results in a contribution with two line items, one for the event fee and one for the donation.
For the line item of the donation we want to create a donation receipt.

I have funding to implement this and a PR fill follow soon.

[2022-01-07 14:25] jensschuppe opened #138 "[meta] Remove/replace deprecated CiviCRM Core code"
- [x] `CRM_Core_OptionGroup::getValue()` - #125
- [ ] `CRM_Core_Form::addDateRange()` - #181

[2022-02-05 23:46] jonathandhn opened #139 "Issue for php 8.0 : Array and string offset access syntax with curly braces is deprecated"
I, I've notice that the plugin shows a php warning

[code]

[2022-02-07 09:13] jensschuppe commented on #139
Thanks for reporting, @jonathandhn, can you verify that cb3e6598630682781513afd5ef915fceed2605fb fixes the warnings?

[2022-02-07 21:21] jonathandhn commented on #139
Hi, it seams to.

[2022-02-08 09:17] jensschuppe commented on #139
Thanks @jonathandhn!

[2022-02-08 09:17] #139 closed

[2022-02-14 14:37] pbatroff opened #140 "Add Profile_id to MailCodeHeader"
When adding Donrec information to the Mail header in CRM_Donrec_Exporters_EmailPDF::addDonrecMailCodeHeader, the profile_id should be added as well, since it is needed in DonationReceipt.Handlebounce API implementation to parse the bounce event.

There is no elegant/efficient way to figure out the profile used, so it is best to have all information in one place. The Header field would then look li

[2022-02-16 14:02] pbatroff commented on #140
Fixed and tested in 152b55b956bd09c9ce5343deadfa25bf1067103d

Merged to master, shouldn't interfere with any other functionality

[2022-02-16 14:02] #140 closed

[2022-02-21 05:51] protologue opened #141 "Support for other currencies (USD in our case)?"
This is probably more of a feature request - we are looking at this extension in combination with CiviOffice to develop a receipting mechanism for contributions (this is to automatically generate and send tax-compliant 501(c)(3) donation receipts immediately upon payment). However, one of the stated limitations is that the extension is hard-coded for EUR... Are there plans to make currencies selec

[2022-02-21 08:28] bjendres commented on #141
Hi @protologue. Great to hear you're interested!

Have you _tested_ whether it's actually hard-coded for EUR? I know it is listed in the restrictions, but it might have already been fixed along the way. Would you mind giving it a go and outlining here where it goes wrong?

[2022-03-16 14:29] tobiberlin opened #142 "Support / feature request for large contact numbers: more stable way to select contacts who should receive a doncation receipt - and let sending process run in background"
When you collect contacts in any way (search builder, by filters on group members overview or any other kind of Contacts table) and then choose "Issue donation receipt(s)" as an action you will be redirected to a form where you can choose profile, time period and currency. After configuring this you reach the final step where you can click on "Issue donation receipt(s)". Here on this final step pa

[2022-03-28 11:57] #107 closed

[2022-03-28 11:57] #136 closed

[2022-03-29 23:28] being-peace opened #143 "Unclear error situation after sending email pdfs. [info] de.systopia.donrec: invalid snapshot id detected! (0)"
Thanks for the donrec extension!

I am using:
Wordpress: 5.8.2
CiviCRM: 5.41.2
Donation Receipts: Version 2.1-dev

I started processing donations, first with a PDF test creation. This run through without error.
Then I started the actual processing of donations with sending PDFs with emails.

Here I received error messages in the processing details:
`Datum 	Typ 	Nachricht
2022-03-29 22:59:03 	ERROR

[2022-04-07 12:59] muniodiego commented on #130
I have the same bug

[2022-04-12 13:07] jaapjansma opened #145 "When line items is enabled sometimes the generation fails"
**Steps to reproduce**

1. Enable Line Items under Administer --> Administration Console --> Donation Receipts Profiles --> General Settings
2. Setup a profile for the financial type donation
3. Create a price set for event, with one field of financial type event fee and with a checkbox field with multiple options all of type donation
4. Register a contact for this event and select at least two ch

[2022-05-12 14:22] bjendres opened #147 "Call to a member function getProfile() on null in CRM_Donrec_Logic_Settings::validateContribution()"
There seems to be issues with the locking algorithm in certain circumstances:
[code]

DonRec version: ``2.1-beta1``
CiviCRM version: ``5.46.0``

[2022-05-12 14:22] bjendres commented on #147
Looks like ``CRM_Donrec_Logic_Settings::validateContribution`` needs to be more robust.

[2022-06-20 15:00] tobiberlin opened #148 "After upgrade to PHP 8.1: Array and string offset access syntax with curly braces is no longer supported"
The full error:

`Fatal error: Array and string offset access syntax with curly braces is no longer supported in \sites\default\files\civicrm\ext\de.systopia.donrec\donrec.civix.php on line 248`

I upgrade from the very old PHP 7.3 and I think the curly braces are deprecated from PHP 7.4 on

[2022-06-21 08:11] jensschuppe commented on #148
Please try with version `2.1-beta1`, this has already been fixed in #139.

[2022-06-21 08:11] #148 closed

[2022-06-24 07:01] bbaermann commented on #121
This seems to be fixed in newer versions. I tried it with civicrm 5.50.1 and donrec 2.1-dev.

[2022-07-19 10:55] #121 closed

[2022-08-17 13:20] sleidig opened #150 "Exporting large number of transactions fails"
When trying to export transactions I run into an error if there is a large number of entries:

To reproduce:
1. Menu: Show Payments
2. Switch to "Completed", mark multiple statements, click "Show Transactions"
3. Select all entries and click "Export" at bottom of page

The selected ids are added to the URL only, which doesn't work for thousands of records anymore.

I am happy to hack together a wo

[2022-08-17 18:58] bjendres commented on #150
Hm, are you sure that this is related to this extension? It sounds like you're exporting financial transactions, which is part of the CiviCRM core. But if this is really a donrec issue, could you please be more detailed about how to reproduce it?

[2022-08-22 09:32] sleidig commented on #150
Sorry, you are absolutely right - this was supposed to go into CiviBanking ...

[2022-08-22 09:32] #150 closed

[2022-10-05 07:26] abugey opened #151 "PHP 8.0 Compatibility"
* [x] Analyse code regarding PHP 8 compatibility
* [x] Fix deprecations found (to be specified)

[2022-10-05 08:13] jensschuppe commented on #151
@abugey I added a description, feel free to edit it if there's something to add.

[2022-10-12 06:54] abugey opened #152 "Errors from static code analysis: Undefined variables"
Errors from static code analysis. Found by PhpStorms "Inspect Code" Feature.. These are marked errors (not only warnings!) in both PHP7.4 and PHP8.0

-  DonrecCustomisationHooks.php: `Undefined variable $chunk_item`
-  EmailPDF.php: `Undefined variable $snapshot_line_id`

[2022-10-13 09:36] jensschuppe commented on #152
There are already `TODO`s in the code about those. Also, at least the first one doesn't seem to be called anywhere.

[2022-11-16 14:34] abugey commented on #151
* [x] Analyse code regarding PHP 8 compatibility
- php linter: no errors
- PHP Storm inspect code: no PHP 8.0 specific errors
* [x] Fix deprecations found (to be specified)
- no fixes needed

[2022-11-17 13:57] jensschuppe commented on #151
I merged the Civix-related stuff into `master`.

[2022-11-17 13:57] #151 closed